<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/courses.css">
  </head>
  <body>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Ironhack available courses</h4>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <ul class="list-group">
            <% courses.forEach((course) =>{ %>
              <li class="list-group-item course-title">
                <%= course.name%>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <a href="/logout">Logout</a>
        </div>
      </div>
  </body>
</html>
