body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*=======================COURSES================================*/
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
ul {
  margin-top: 80px;
}
h1{
  text-align: center;
}
ul{
  background-color: black;
  border: none;
  border-radius: 6px;
}

.course-title {
   height: 50px;
   background-color: #007EB5;
   font-size: 21px;
   color: white;
   font-weight: 300;
   margin-top: 1px;
   border-color: black;
 }
 /*======================= Users ================================*/


 tr > td{
   vertical-align: middle;
 }

 table{
   padding-top: 10px;
 }
