<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1></h1>
    <div class="row">
      <article class="col-md-4-offset-4 center" >
        <img class="logo" src="images/ih-logo.jpg" alt="Ironhack Logo">
        <p>Welcome to The outstanding Ironhack platform</a>
        <a href="/login">Login</p>
        <a href="/auth/facebook">New alumni? Log in with facebook</a>
      </article>
    </div>
  </body>
</html>
